__pycache__
data/*/
temp/
old/
results_raw.csv
checkpoint/
.vscode/
*.ipynb_checkpoints
*.DS_Store
*.res
*.swp
*.gz
*.pth
*.tar
*.tgz
*.zip
*.raw
*.npy
*.npz
*.log
*.pkl
*.pyc
*.t7
*.pth
*.pdf
*.h5
*.vtp
